In [1]:
# Import Dependencies
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = “all”

In [2]:
bitcoin_csv = "bitcoin_cash_price.csv"
dash_csv = "dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [7]:
# Merge the two DataFrames together based on the Dates they share
inner_merge_df = pd.merge(bitcoin_df, dash_df, on="Date")
inner_merge_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [13]:
# Rename columns so that they are differentiated
inner_merge_df.rename(columns={"Open_x": "Open_bitcoin", "High_x": "High_Bitcoin",
                        "Low_x":"Low_Bitcoin", "Close_x":"Close_Bitcoin",
                        "Volume_x":"Volume_Bitcoin", "Market Cap_x": "Market_Cap_Bitcoin", "Open_y":"Open_Dash",
                         "High_y":"High_Dash", "Low_y":"Low_Dash", "Close_y":"Close_Dash","Volume_y":"Volume_Dash",
                         "Market Cap_y":"Market_Cap_Dash"}).head()

,Date,Open_bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market_Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market_Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [14]:
# alternatively you can set your suffixes when the merge occurs
inner_merge_df_easy = pd.merge(bitcoin_df, dash_df, on="Date", suffixes=('_bitcoin', '_dash'))
inner_merge_df_easy.head()

,Date,Open_bitcoin,High_bitcoin,Low_bitcoin,Close_bitcoin,Volume_bitcoin,Market Cap_bitcoin,Open_dash,High_dash,Low_dash,Close_dash,Volume_dash,Market Cap_dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [16]:
# Collecting best open for Bitcoin and Dash
best_open_bitcoin = inner_merge_df_easy["Open_bitcoin"].max()
best_open_dash = inner_merge_df_easy["Open_dash"].max()

# Collecting best close for Bitcoin and Dash
best_close_bitcoin = inner_merge_df_easy["Close_bitcoin"].max()
best_close_dash = inner_merge_df_easy["Close_dash"].max()

# Collecting the total volume for Bitcoin and Dash
total_volume_bitcoin = inner_merge_df_easy["Volume_bitcoin"].sum()
total_volume_dash = inner_merge_df_easy["Volume_dash"].sum()

In [18]:
# Creating a summary DataFrame using above values
crypto_curr_summary = pd.DataFrame(data={"Best Open": [best_open_bitcoin, best_open_dash], 
                                        "Best Close": [best_close_bitcoin, best_close_dash],
                                        "Total Volume": [total_volume_bitcoin, total_volume_dash]},
                                  index=["Bitcoin", "Dash"])
crypto_curr_summary

         Best Open  Best Close  Total Volume
Bitcoin     772.42      754.56  2.438305e+10
Dash        400.42      399.85  2.960278e+09