In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# The path to our CSV file
path = "KickstarterData.csv"

# Read our Kickstarter data into pandas
kickstarter_df = pd.read_csv(path)
kickstarter_df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [3]:
# Get a list of all of our columns for easy reference
kickstarter_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [4]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
sliced_kickstarter_df = kickstarter_df[["name", "goal", "pledged", "state", "country", "staff_pick",
                                        "backers_count", "spotlight"]]
sliced_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [5]:
# Remove projects that made no money at all
profitable_df = sliced_kickstarter_df.loc[sliced_kickstarter_df["pledged"] > 0]
profitable_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [6]:
# Collect only those projects that were hosted in the US
# Create a list of the columns
# Create a new df for "US" with the columns above.
us_profitable_df = profitable_df.loc[profitable_df["country"] == "US"]
us_profitable_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [7]:
# Create a new column that finds the average amount pledged to a project
us_profitable_df["average_donation"] = us_profitable_df.loc[:,"pledged"]/us_profitable_df.loc[:,"backers_count"]
us_profitable_df.head()

C:\Users\bruno\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average_donation
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [8]:
# First convert "average_donation", "goal", and "pledged" columns to float
# pd.to_numeric(us_profitable_df["average_donation"])
# pd.to_numeric(us_profitable_df["goal"])
# pd.to_numeric(us_profitable_df["pledged"])


# Then Format to go to two decimal places, include a dollar sign, and use comma notation
us_profitable_df["average_donation"] = us_profitable_df["average_donation"].map("${:.2f}".format)
us_profitable_df["goal"] = us_profitable_df["goal"].map("${:.2f}".format)
us_profitable_df["pledged"] = us_profitable_df["pledged"].map("${:.2f}".format)
us_profitable_df.dtypes
us_profitable_df

C:\Users\bruno\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\bruno\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\bruno\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

name                object
goal                object
pledged             object
state               object
country             object
staff_pick            bool
backers_count        int64
spotlight             bool
average_donation    object
dtype: object

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average_donation
0,The Class Act Players Theatre Company Presents...,$1500.00,$2925.00,successful,US,False,17,True,$172.06
8,Forefront Festival 2015,$7200.00,$7230.00,successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,$9747.00,$10103.00,successful,US,True,132,True,$76.54
14,Pride Con,$15000.00,$15110.00,successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,$10000.00,$10306.00,successful,US,True,80,True,$128.82
17,"My Life in Michaels, a short play",$1200.00,$1265.00,successful,US,False,19,True,$66.58
19,MSGA Junior Theater Festival 2016,$1000.00,$1300.00,successful,US,False,17,True,$76.47
20,A Kingdom for a Stage! - Much Ado...,$5000.00,$6475.00,successful,US,False,105,True,$61.67
31,Bartleby: a new musical at the MN Fringe,$2000.00,$2625.00,successful,US,False,25,True,$105.00
32,"The Point, a show in the Women's Voices Theate...",$3150.00,$3150.00,successful,US,False,22,True,$143.18
33,An Intimate Evening With Typhoid Mary,$6700.00,$7050.00,successful,US,False,102,True,$69.12
39,"""Poor People"" at FringeNYC 2015",$5500.00,$5682.00,successful,US,True,34,True,$167.12
42,Painting His Wings by Sinead Daly at FringeNYC,$8000.00,$8780.00,successful,US,False,140,True,$62.71
43,"Lindsay Benner takes ""Book of Love"" to the Edi...",$10939.00,$13116.00,successful,US,False,160,True,$81.97
44,Queen Mab's Steampunk and Fairie Street Festival,$1300.00,$3363.00,successful,US,True,62,True,$54.24
45,RAFT: a new play by Emily Kitchens,$7500.00,$7826.00,successful,US,True,120,True,$65.22
46,butyou'reaman in New York,$5000.00,$5717.00,successful,US,False,136,True,$42.04
47,The Spinning Wheel: a son remixes a father's r...,$20000.00,$22602.00,successful,US,True,228,True,$99.13
48,bring the children home...,$2500.00,$2500.00,successful,US,False,46,True,$54.35
50,Bloomers Presents: LaughtHERfest,$8000.00,$9501.00,successful,US,True,102,True,$93.15
52,#liberated,$2000.00,$2295.00,successful,US,False,62,True,$37.02
54,Natasha Noman's Noman's Land | Aug 5-15th Edi...,$7000.00,$7571.00,successful,US,True,84,True,$90.13
59,COSPLAY,$5000.00,$5000.00,successful,US,False,42,True,$119.05
64,Love at the end of time--FringeNYC 2015,$5000.00,$5055.00,successful,US,False,22,True,$229.77
67,The Devil You Say,$2000.00,$4000.00,successful,US,False,67,True,$59.70
73,Les Midge: An Unexpected Musical of Hobbit Pro...,$400.00,$407.00,successful,US,False,15,True,$27.13
74,"""Flying Ship"" Musical by Solo Youth Theater of...",$3000.00,$3030.00,successful,US,False,60,True,$50.50
75,West Fulton Puppet Festival,$5500.00,$5637.00,successful,US,False,53,True,$106.36
77,Take FLIGHT East to Edinburgh!,$4772.00,$5661.00,successful,US,False,103,True,$54.96
79,Ex Communication,$2500.00,$2710.00,successful,US,False,61,True,$44.43
...,...,...,...,...,...,...,...,...,...
4076,MASKS: Off-Broadway Debut,$5000.00,$5671.11,successful,US,False,53,True,$107.00
4077,The Impossible Adventures Of Supernova Jones,$2000.00,$2804.00,successful,US,False,55,True,$50.98
4078,Kapow-i GoGo at The PIT,$2500.00,$2575.00,successful,US,True,49,True,$52.55
4080,"Help us get ""Old Friends"" to the El Portal!!!",$3000.00,$3160.00,successful,US,False,66,True,$47.88
4081,The Hurtling Stillness. A story about angels a...,$1800.00,$1805.00,successful,US,True,12,True,$150.42
4082,"PL@Y, an all-original fusion of comedy, rock, ...",$3000.00,$3190.00,successful,US,False,33,True,$96.67
4083,The Crusade of Connor Stephens: Professional P...,$2000.00,$2000.00,successful,US,False,15,True,$133.33
4084,"The Mount, new play about Edith Wharton",$2100.00,$2305.00,successful,US,False,45,True,$51.22
4086,Prison Boxing: A New Play by Leah Joki,$12200.00,$12571.00,successful,US,True,134,True,$93.81
4087,The Lost Boy (a play),$3400.00,$4050.00,successful,US,False,23,True,$176.09
4088,Peter Pan by J.M. Barrie @ Open Space Arts,$1000.00,$1046.00,successful,US,False,23,True,$45.48
4091,The Honeymoon is Over - An Original Play by Za...,$900.00,$1175.00,successful,US,False,12,True,$97.92
4092,"""Lucy & Vincente"" A New Play about Lucille Ball",$3000.00,$3319.00,successful,US,False,43,True,$77.19
4093,The Lower Depths,$2000.00,$2287.00,successful,US,False,26,True,$87.96
4094,Green Light Productions produces theatre creat...,$5000.00,$5024.00,successful,US,False,41,True,$122.54
4095,Bluebirds by Joe Brondo,$7000.00,$7365.00,successful,US,True,75,True,$98.20
4097,Dandelion Theatre: 'Body Awareness' by Annie B...,$2000.00,$2041.00,successful,US,False,23,True,$88.74
4099,"One-Man Show: ""The Book Of oded, Chapter 2""",$10000.00,$10299.00,successful,US,False,162,True,$63.57
4100,The Seagull Project Presents: The Three Sisters,$20000.00,$21573.00,successful,US,True,202,True,$106.80
4101,A Hard Rain - New York Debut,$3000.00,$3133.00,successful,US,False,28,True,$111.89
4103,We Rise,$1500.00,$1800.00,successful,US,False,31,True,$58.06
4104,Verdigris - A Play by Jim Beaver,$35000.00,$56079.83,successful,US,True,930,True,$60.30
4105,The Butterfingers Angel... [By The Mummers],$8000.00,$8010.00,successful,US,False,113,True,$70.88
4106,Lord of the Flies - Syracuse University,$4000.00,$4443.00,successful,US,False,65,True,$68.35
4108,A Few Brave Men: The Chosen Few,$5000.00,$5000.00,successful,US,False,28,True,$178.57
4109,Going To Market,$2000.00,$2100.00,successful,US,False,41,True,$51.22
4110,LIBERTY! EQUALITY! AND FIREWORKS!... A Civil R...,$3000.00,$3506.00,successful,US,False,35,True,$100.17
4115,Bring Love's Labour's Lost to Minnesota,$25000.00,$25388.00,successful,US,True,213,True,$119.19
4117,"""The Santaland Diaries"" by David Sedaris in Lo...",$6000.00,$7140.00,successful,US,False,108,True,$66.11
4118,REBATEnsemble Presents: ICONS - The Martin Show,$300.00,$312.00,successful,US,False,6,True,$52.00

In [13]:
# Calculate the total number of backers for all US projects
total_us_backers = us_profitable_df["backers_count"].sum()
total_us_backers

89273

In [16]:
# Calculate the average number of backers for all US projects
avg_us_backers = us_profitable_df["backers_count"].mean()
round(avg_us_backers, 2)

41.93

In [18]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
staff_pick_us_profitable = us_profitable_df.loc[us_profitable_df["staff_pick"] == True]
staff_pick_us_profitable.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average_donation
11,Hamlet the Hip-Hopera,$9747.00,$10103.00,successful,US,True,132,True,$76.54
15,En Garde Arts Emerging Artists Festival BOSSS,$10000.00,$10306.00,successful,US,True,80,True,$128.82
39,"""Poor People"" at FringeNYC 2015",$5500.00,$5682.00,successful,US,True,34,True,$167.12
44,Queen Mab's Steampunk and Fairie Street Festival,$1300.00,$3363.00,successful,US,True,62,True,$54.24
45,RAFT: a new play by Emily Kitchens,$7500.00,$7826.00,successful,US,True,120,True,$65.22

In [25]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
grouped_staff_pick = staff_pick_us_profitable.groupby("state")
grouped_staff_pick["goal"].count()

state
canceled        6
failed         21
live            2
successful    145
Name: goal, dtype: int64